version: 2

orbs:
  cypress: cypress-io/cypress@3.4.1
workflows:
  build:
    jobs:
      - cypress/run:
          executor: cypress/browsers-chrome77
          browser: chrome
          start: 'yarn start' # start server before running tests 