h2 {
  margin: 1rem 1.5rem !important;
}

.top-news {
  margin: 0.5rem 0.2rem;
  border: 1px solid rgb(231, 230, 230);
}

.ui.grid {
  margin-bottom: 1rem !important;
}

.list-all-news {
  padding-top: 1rem;
}