.ui.menu {
  border-radius: 0 !important;
  height: 50px;
  font-size: 17px !important;
  color: black !important;
  margin-top: 0 !important;
  z-index: 999 !important;
  background: #fff !important;
}

.ui.menu.item {
  z-index: 999 !important;
  background: #fff !important;
}

.item {
  z-index: 999 !important;
  background: #fff !important;
}

#hero-mini-header {
 font-style: italic;
 font-weight: 200 !important;
}