h2 {
  margin-bottom: 1rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ui.container {
  padding: 1rem 0;
  border: 1px solid #A9A9A9;
}