@import url('https://fonts.googleapis.com/css?family=Open+Sans|Stoke&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Stoke', serif !important;
}

body, html {
  background-color: rgb(248, 242, 242) !important;
}

h1 {
  font-family: 'Stoke', serif !important;
  font-weight: 400 !important;
  font-size: 3rem !important;
  margin: 0 !important;
}

h2 {
  font-family: 'Stoke', serif !important;
  font-weight: 700 !important;
  font-size: 30px!important;
}

p {
  font-family: 'Stoke', serif !important;
  font-size: 15px;
  font-weight: 400 !important;
}

#root {
  background-color: #fff;
  font-weight: 400 !important;
  margin: 0rem 2rem 0 2rem;
}

.input {
  margin: 5px;
}

#signup-form {
  text-align: center;
}

#login-form,
#signup-form {
  text-align: center;
  padding-bottom: 1rem;
}

#login-header,
#signup-header {
  font-size: 1.2rem !important;
}

#article-wrapper {
  padding: 10rem !important;
  padding-top: 2rem !important;
}

#title-input {
  width: 100%;
}

#single-article {
  margin-top: 5rem;
}